:root {
	--primary: #f7a221;
	--darkprimary: #e69720;
}

.center-wrapper {
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
h1 {
	font-family: serif;
	font-weight: bold;
}
.btn-primary {
	background-color: var(--primary);
	border-color: var(--primary);
}
.btn-primary:hover {
	background-color: var(--darkprimary);
	border-color: var(--darkprimary);
}

/* Registration page */
/* Form */
.registration h1 {
	font-size: 36px;
}
.registration .row {
	background-color: #ffffff;
}
.registration .picture {
	background: url(../img/city.jpg);
	background-size: cover;
}
.registration label,
.registration input {
	font-size: 14px;
}
.registration .form-group {
	margin-bottom: 0.5rem;
}
.btn-radio-group {
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.btn-radio {
	display: none;
}
label.btn {
	width: 48%;
}
.btn-radio + label {
	color: var(--primary);
	border-color: var(--primary);
}
.btn-radio + label:hover {
	background-color: var(--primary);
	color: white;
}
.btn-radio:checked + label {
	background-color: var(--primary);
	color: white;
}

/* pricing table */
.plan {
	background: #ffffff;
}
.plan table td,
.plan table tr {
	text-align: center;
	font-size: 14px;
	padding: 0.5rem;
}
.plan th {
	padding: 0;
	font-size: 18px;
	text-transform: uppercase;
}
th.hidden {
	border-style: hidden;
}
td.hidden {
	background: #ffffff;
	border-left-style: hidden;
	border-bottom-style: hidden;
}
.plan th span.title {
	display: block;
	width: 100%;
	box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15);
}
.plan th span.price {
	display: block;
	padding: 21px 0;
}
.plan table td:first-child {
	text-align: left;
}
.fa-check {
	color: green;
}
.fa-times {
	color: red;
}
.starter {
	background-color: #6bb2b0;
}
.lite {
	background-color: #549fae;
}
.business {
	background-color: #229ab3;
}
.enterprise {
	background-color: #015f81;
}
.starter,
.lite,
.business,
.enterprise {
	color: white;
}
/* eof pricing table */
